div.settings {
  position: fixed;
  left: 10px;
  top: 10px;
  display: inline-block;
  background: #4b4d4e;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
  display: none; /* start invisible */
}
div.settings .header {
  text-align: center;
  font-size: 16px;
  color: #FFFF00;
  font-weight: bold;
}
/* For text fields (with and without type specified) */
div.settings input:not([type]), .settings input[type='text'] {
  width: 30px;
  border: none;
}
/* For jscolor fields */
div.settings input.color {
  color: rgb(0, 0, 0);
  width: 60px;
  border: none;
  cursor: pointer;
}
div.settings label {
  color: white;
  vertical-align: middle;
}
