.dialog {
  display: inline-block;
  margin: 10px;
}

.center {
  text-align: center;
}

.leftColumn {
  float: left;
  width: 50%;
}

.rightColumn {
  float: left;
  width: 50%;
}

.endColumns {
  clear: both;
}

form input:not([type='checkbox']) {
  width: 60px;
}

form input.color {
  cursor: pointer;
}

form label {
  color: white;
  vertical-align: middle;
}

/* Fullscreen */
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Style the outer accordion differently. */
.dialog > input:checked + label {
	background: linear-gradient(#999, #222);
}
