.settings {
  display: inline-block;
  margin: 10px;
}

/* For text fields (with and without type specified) */
.settings input:not([type]),
.settings input[type='text'] {
  border: none;
  width: 30px;
}

.settings .buttons {
  text-align: center;
}

.settings input.color,
.settings select {
  border: none;
  color: #000;
  width: 60px;
}

.settings input.color {
  cursor: pointer;
}

.settings label {
  color: white;
  vertical-align: middle;
}

/* Fullscreen */
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Style the outer accordion differently. */
.settings > input:checked + label {
	background: linear-gradient(#999, #222);
}
